body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f6f6f6;
color: #333;
}


header {
background: #222;
color: white;
padding: 20px;
text-align: center;
}


nav a {
color: #fff;
margin: 0 10px;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
color: #00aaff;
}


.secao {
padding: 40px;
max-width: 900px;
margin: auto;
}


form {
display: flex;
flex-direction: column;
gap: 10px;
}


input, textarea {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}


button {
padding: 10px;
background: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}


button:hover {
background: #005fcc;
}

